[package]
name = "risc_v_simulator"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = "0.8.5"
# zk_ee = {git = "https://github.com/matter-labs/zk_ee", branch = "main", default-features = false}
zk_ee = { path = "../zk_ee/zk_ee", default-features = false }
ringbuffer = "*"
elf = "*"
addr2line = "*"
object = "*"
memmap2 = "*"
inferno = "*"

[[bin]]
name = "runner"
path = "bin/runner.rs"
